@font-face {
    font-family: "Wawati SC";
    src: url('DFWaWaSC-W5-web.otf');
}

body {
    background: #b6f0eb;
    font-size: 25px;
    font-family: "Wawati SC", sans-serif;
    font-weight: normal;
    color: #6fd8ff;
    line-height: 80px;
    text-align: center;
}

body div.nyanpass {
    background: url("nyanpass.png") no-repeat;
    width: 290px;
    height: 430px;
    margin: auto;
}