@font-face {
    font-family: "PingFang SC";
    src: url('Ultralight.otf');
}

.pro_body li p {
    font-family: "PingFang SC", sans-serif;
    letter-spacing: 0.125rem;
    font-variant: normal;
    color: #ffffff;
    text-align: left;
}

.ab_body h3 {
    font-family: "PingFang SC", sans-serif;
    font-weight: 300;
}

.language p {
    font-size: 1.75rem;
    font-family: "PingFang SC", sans-serif;
    font-weight: 200;
}

.pro_left ul li .Katakana {
    letter-spacing: 0;
}

.pro_left ul li  .kanji {
    letter-spacing: 0.1875rem;
}

.pro_left ul li.left_2 {
    margin-left: -8.125rem;
}

.abilities .language li {
    width: 16.3rem;
}

.abilities .ab_body .language div {
    margin-right: 0;
}

.abilities .language ul li:nth-child(4) .ab_text {
    margin-left: 3.2rem;
}

.abilities .language ul li:nth-child(4) div p:first-child{
    margin-left: -1.31rem;
}

footer .foot_wrap h3 {
    font-family: "PingFang SC", sans-serif;
}