.pro_body li p {
    font-family: "PingFang SC", sans-serif;
    letter-spacing: 0.125rem;
    font-variant: normal;
    color: #ffffff;
    text-align: left;
}

.pro_body .pro_left {
    margin-left: 2em;
}

.pro_body .pro_left {
    margin-right: -4em;
}

