.pro_body li p {
    letter-spacing: 0.125rem;
    font-variant: normal;
    color: #ffffff;
    text-align: left;
    font-weight: 200;
}

.pro_body .pro_left {
    margin-left: 6rem;
}

.pro_body .pro_left ul .left_2 {
    margin-bottom: 3.8rem;
}

.pro_body .pro_right {
    margin-right: -8rem;
}

