@media (max-width: 991px) {
    body div.jumbotron div.container h1, body div.jumbotron div.container p {
        margin: 0 auto;
    }

    body div.jumbotron div.container p {
        font-size: 2.7rem;
        margin-top: 3rem;
    }
}

html, body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
}

hr {
    border: 0;
    border-top: 0.083rem solid white;
}

a {
    cursor: pointer;
}

/*************** HEADER ***************/
div.header {
    height: 100%;
    width: 100%;
}

.h_content {
    position: relative;
    height: 25%;
    width: 100%;
}

.h_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40%;
}

.h_content h1,.h_content p{
    font-family: "PingFang SC", "Open Sans", sans-serif;
    font-size: 4rem;
    color: #d0d0d0;
    font-variant: small-caps;
    font-weight: 100;
    letter-spacing: 0.83rem;
    text-align: center;
}

.h_content h1 {
    margin-right: 26%;
}

.h_content p {
    font-size: 2.9em;
    margin-left: 54%;
    letter-spacing: 0.667rem;
}

.h_content #scrollDown {
    cursor: pointer;
    width: 8.5em;
    height: 5.3em;
    margin: 4% auto 0 auto;
    background: url("../img/arrow.png") no-repeat;
}

div.wrapper_h {
    position: fixed;
    left:0;
    top:0;
    z-index: -99;
    height: 100%;
    width: 100%;
    background: url("../img/header.jpg") repeat-x;
    background-size: cover;
    opacity: 1;
    /*-webkit-filter: none;
    -ms-filter: none;
    filter: none;*/
}

div.background_h {
    position: fixed;
    left:0;
    top:0;
    z-index: -9999;
    height: 100%;
    width: 100%;
    background: black;
    background-size: cover;
}




div.jumbotron {
    background: url("../img/header.jpg") no-repeat center right fixed;
    background-size: cover;
    opacity: 1;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

div.jumbotron div.container {
    position: relative;
    text-align: center;
    top: 68%;
}

div.container h1, div.container p {
    font-family: "PingFang SC", "Open Sans", sans-serif;
    font-size: 4rem;
    color: #d0d0d0;
    font-variant: small-caps;
    font-weight: 100;
    letter-spacing: 0.83rem;
}

div.container h1 {
    margin-right: 26%;
}

div.container p {
    font-size: 2.9em;
    margin-left: 54%;
    letter-spacing: 0.667rem;
}

/*************** BODY ***************/
.web_body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 200;
    letter-spacing: .1rem;
    background-color: #464646;
}

.head h2 {
    font-weight: 200;
    letter-spacing: 0.75rem;
}

.wrapper_b {
    width: 64rem;
    margin: 0 auto;
    padding: 6.25rem 0 5rem 0;
}

.head h2 {
    text-align: right;
    color: #2cb2ff;
    font-size: 4.4rem;
    font-variant: small-caps;
}

.head hr {
    border-color: #b7b7b7;
    opacity: 0.8;
    margin-top: 3.75rem;
}

/* Profile */
.pro_body {
    margin-top: 11.5rem;
}

.pro_body .pro_left {
    float: left;
    margin: -3.3rem 0 0 9rem;
}

.pro_body .pro_right {
    float: right;
    margin: -3.3rem 0 0 0;
}

.lst_style {
    display: inline;
    float: left;
}

.style_right {
    float: right;
}

.p_orange {
    list-style: disc;
}

.p_blue {
    list-style: circle;
}

.pro_body ul {
    font-size: 1.2rem;
}

.p_left {
    float: left;
}

.p_right {
    float: right;
}

.p_blue span {
    font-size: .75rem;
}

.p_orange span {
    font-size: .75rem;
}

.pro_body .p_orange {
    color: #ffa800;
}

.pro_body .p_blue {
    color: #2cb2ff;
}

.left_1, .right_1 {
    margin-bottom: 5.625rem;
}

.left_2, .right_2{
    margin: 0 0 5.625rem -9.375rem;
}

.right_2 {
    margin-left: 5rem;
}

.lst_style .left_3 {
    margin-top: 9.375rem;
}

.lst_style .right_3 {
    padding-top: 3.75rem;
}

.p_img {
    background: url("../img/profile.png") no-repeat;
    width: 14rem;
    height: 13.9rem;
    margin: 0 auto;
    -webkit-background-size: cover;
    background-size: cover;
}

.pro_right li {
    list-style: circle;
    color: #2cb2ff;
}

.pro_right .p_orange {
    list-style: disc;
}

/* Abilities */

.abilities {
    margin-top: 17.5rem;
}

.ab_body {
    width: 59.38rem;
    height: 50rem;
    margin: 7.5rem auto 0 auto;
}

.ab_body h3 {
    color: #ffa800;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}

.ab_lst div {
    float: right;
    margin-top: 0.375rem;
}

.ab_lst {
    float: left;
    margin: 0 .9rem;
}

.ab_body ul {
    float: left;
}

.ab_body li {
    margin-top: 2.188rem;
    height: 7rem;
}

.skill li {
    width: 20.9rem;
}

.design li {
    width: 19.7rem;
}

.language li {
    width: 16.1rem;
}

.ab_body p {
    font-size: 1.55rem;
    text-align: left;
    opacity: .8;
    float: left;
}

.ab_body .item2 {
    margin-top: 1.375rem;
}

.ab_body .ab_text {
    margin-left: 1.938rem;
}

/******images*****/
.ab_description {
    margin: 0 auto;
}

.skill .front_end {
    background: url("../img/markup.png") no-repeat;
    background-size: cover;
}

.skill .js {
    background: url("../img/js.png") no-repeat;
    background-size: cover;
}

.skill .cpp {
    background: url("../img/C.png") no-repeat;
    background-size: cover;
}

.design .ps {
    background: url("../img/Ps.png") no-repeat;
    background-size: cover;
}

.design .ai {
    background: url("../img/Ai.png") no-repeat;
    background-size: cover;
}

.design .pr {
    background: url("../img/Pr.png") no-repeat;
    background-size: cover;
}

.design .ae {
    background: url("../img/Ae.png") no-repeat;
    background-size: cover;
}

.language .ch {
    background: url("../img/ch.png") no-repeat;
    background-size: cover;
}

.language .en {
    background: url("../img/en.png") no-repeat;
    background-size: cover;
}

.language .ja {
    background: url("../img/ja.png") no-repeat;
    background-size: cover;
}

.language .ger {
    background: url("../img/de.png") no-repeat;
    background-size: cover;
}

.skill {
    margin-left: -2.5rem;
}

.skill li {
    margin-top: 5.375rem;
}

.skill li:first-child {
    margin-top: 5.938rem;
}

.design li:first-child {
    margin-top: 4.375rem;
}

.language {
    margin-right: 0;
}

.language li:first-child {
    margin-top: 4.375rem;
}

.language p {
    margin-top: 1.75rem;
    font-size: 1.5rem;
}

.ab_body div li div {
    float: left;
}

.skill li div {
    margin-left: 1.938rem;
}

.language li:nth-child(4) {
    float: left;
    opacity: .5;
}

.language .german {
    font-size: 1.313rem;
    font-variant: small-caps;
    margin-top: 0.375rem;
}

.ab_img {
    width: 7rem;
    height: 6.668rem;
    background-size: cover;
    float: left;
}





/*************** FOOTER ***************/

footer {
}

.foot_wrap {
    width: 64rem;
    margin: 0 auto;
    padding: 6.25rem 0 12.5rem 0;
}

.foot_h h3 {
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
    color: #D4D4D4;
    font-weight: 200;
    text-align: center;
}

.foot_h hr {
    border-color: #666666;
    margin-top: 5rem;
}

.foot_wrap .icons {
    margin-top: 5rem;
}

.foot_wrap a {
    margin-left: 5.625rem;
}

.foot_wrap a:first-child {
    display: inline-block;
    background: url("../img/twitter.png") no-repeat;
    width: 4.063rem;
    height: 4rem;
    margin-left: 4.813rem;
    background-size: cover;
}

.foot_wrap a:nth-child(2) {
    display: inline-block;
    background: url("../img/weibo.png") no-repeat;
    width: 4.063rem;
    height: 4rem;
    background-size: cover;
}

.foot_wrap a:nth-child(3) {
    display: inline-block;
    background: url("../img/bilibili.png") no-repeat;
    width: 3.875rem;
    height: 3.875rem;
    background-size: cover;
}

.foot_wrap a:nth-child(4){
    display: inline-block;
    background: url("../img/youtube.png") no-repeat;
    width: 4.188rem;
    height: 2.938rem;
    margin-bottom: 0.4375rem;
    background-size: cover;
}

.foot_wrap a:nth-child(5) {
    display: inline-block;
    background: url("../img/github.png") no-repeat;
    width: 3.938rem;
    height: 3.813rem;
    background-size: cover;
}

.foot_wrap a:nth-child(6) {
    display: inline-block;
    background: url("../img/mail.png") no-repeat;
    width: 3.813rem;
    height: 3.813rem;
    background-size: cover;
}
