.pro_body .pro_left {
    margin-left: 12.63rem;
}

.pro_body li p {
    font-family: "PingFang SC", "Open Sans", "Helvetica Neue", "Microsoft YaHei", sans-serif;
    font-size: 1.375rem;
    letter-spacing: 0.1875rem;
    font-variant: normal;
    color: #ffffff;
    text-align: left;
    font-weight: 300;
}

