@font-face {
    font-family: "PingFang SC";
    src: url('Ultralight.otf');
}

.pro_body .pro_left {
    margin-left: 10.63rem;
}

.pro_body li p {
    font-family: "PingFang SC", sans-serif;
    font-size: 1.375rem;
    letter-spacing: 0.1875rem;
    font-variant: normal;
    color: #ffffff;
    text-align: left;
}

.ab_body h3 {
    font-family: "PingFang SC", sans-serif;
    font-weight: 300;
}

.language p {
    font-size: 1.75rem;
    font-family: "PingFang SC", sans-serif;
    font-weight: 200;
}

.abilities .ab_body .language div {
    margin-right: 0;
}

.abilities .language ul li:nth-child(4) div p:first-child{
    margin-left: 0.625rem;
}

footer .foot_wrap h3 {
    font-family: "PingFang SC", sans-serif;
}

.gaussian_blur {

}