@font-face {
    font-family: "PingFang SC";
    src: url('Ultralight.otf');
}



/*@media screen and (max-width: 1024px) {
    html {
        font-size: 10px;
    }

    div.wrapper_b {
        width: 700px;
    }
}*/

@media screen and (max-width: 1280px) {
    html {
        font-size: 12px;
    }

    div.wrapper_b {
        width: 800px;
    }

}

html, body {
    margin: 0;
}

hr {
    border: 0;
    border-top: 1px solid white;
}

a {
    cursor: pointer;
}

img {

}

/*************** HEADER ***************/
div.header {
    height: 100%;
    width: 100%;
}

.h_content {
    position: relative;
    height: 25%;
    width: 100%;
}

.h_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40%;
}

.h_content h1,.h_content p{
    font-family: "PingFang SC", sans-serif;
    font-size: 3rem;
    color: #d0d0d0;
    font-variant: small-caps;
    font-weight: 100;
    letter-spacing: 10px;
    text-align: center;
}

.h_content h1 {
    margin-right: 26%;
}

.h_content p {
    font-size: 2.9em;
    margin-left: 54%;
    letter-spacing: 8px;
}

.h_content a {
    display: block;
    width: 8.5em;
    height: 5.3em;
    margin: 4% auto 0 auto;
    background: url("arrow.png") no-repeat;
}

div.wrapper_h {
    position: fixed;
    left:0;
    top:0;
    z-index: -99;
    height: 100%;
    width: 100%;
    background: url("header.jpg") no-repeat;
    background-size: cover;
    opacity: 1;
}

div.background_h {
    position: fixed;
    left:0;
    top:0;
    z-index: -9999;
    height: 100%;
    width: 100%;
    background: black;
    background-size: cover;
}

/*************** BODY ***************/
.web_body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
    background-color: #464646;
}

.head h2 {
    font-weight: 200;
    letter-spacing: 9px;
}

.wrapper_b {
    width: 1010px;
    margin: 0 auto;
    padding: 100px 0 80px 0;
}

.head h2 {
    text-align: right;
    color: #2cb2ff;
    font-size: 4.4rem;
    font-variant: small-caps;
}

.head hr {
    border-color: #b7b7b7;
    opacity: 0.8;
    margin-top: 60px;
}

/* Profile */
.pro_body {
    margin-top: 18%;
}

.pro_body .pro_left {
    float: left;
    margin: -5% 0 0 14%;
}

.pro_body .pro_right {
    float: right;
    margin: -5% 0 0 0;
}

.lst_style {
    display: inline;
    float: left;
}

.style_right {
    float: right;
}

.p_orange {
    list-style: disc;
}

.p_blue {
    list-style: circle;
}

.pro_body ul {
    font-size: 1.2rem;
}

.p_left {
    float: left;
}

.p_right {
    float: right;
}

.p_blue span {
    font-size: .75rem;
}

.p_orange span {
    font-size: .75rem;
}

.pro_body .p_orange {
    color: #ffa800;
}

.pro_body .p_blue {
    color: #2cb2ff;
}

.left_1, .right_1 {
    margin-bottom: 5.625rem;
}

.left_2, .right_2{
    margin: 0 0 5.625rem -9.375rem;
}

.right_2 {
    margin-left: 5rem;
}

.lst_style .left_3 {
    margin-top: 9.375rem;
}

.lst_style .right_3 {
    padding-top: 3.75rem;
}

.p_img {
    background: url("profile.png") no-repeat;
    width: 220px;
    height: 218px;
    margin: 0 auto;
}

.pro_right li {
    list-style: circle;
    color: #2cb2ff;
}

.pro_right .p_orange {
    list-style: disc;
}

/* Abilities */

.abilities {
    margin-top: 17.5rem;
}

.ab_body {
    width: 950px;
    height: 800px;
    margin: 7.5rem auto 0 auto;
}

.ab_body .ab_lst {
    float: left;
    margin: 0 1rem;
}

.ab_body h3 {
    color: #ffa800;
    font-size: 3.1rem;
    font-weight: 200;
    text-align: center;
}

.ab_lst div {
    float: right;
    margin-top: 6px;
}

.ab_body ul {
    float: left;
}

.ab_body li {
    margin-top: 35px;
}

.ab_body p {
    font-size: 1.55rem;
    text-align: left;
    opacity: .8;
    float: left;
}

.ab_body .item2 {
    margin-top: 22px;
}

.skill li {
    margin-top: 86px;
}

.skill li:first-child {
    margin-top: 95px;
}

.design li:first-child {
    margin-top: 70px;
}

.language li:first-child {
    margin-top: 70px;
}

.language p {
    margin-top: 28px;
    font-size: 24px;
}

.skill li:first-child div {
    margin-right: 3.75rem;
}

.skill li:nth-child(2) div {
    margin-left: 2.3rem;
}

.skill li:nth-child(3) div {
    margin-right: 5rem;
}

.design li:first-child div {
    margin-right: 2.2rem;
}

.design li:nth-child(2) div {
    margin-right: 2.81rem;
}

.design li:nth-child(3) div {
    margin-left: 1.8rem;
}

.design li:nth-child(4) div {
    margin-right: 0.69rem;
}

.language li:first-child div {
    margin-right: 1.5rem;
}

.language li:nth-child(2) div {
    margin-right: 2rem;
}

.language li:nth-child(3) div {
    margin-left: 2.19rem;
}

.language li:nth-child(4) div {
    margin-right: 1rem;
}

.language li:nth-child(4) {
    margin-right: 0.19rem;
    opacity: .5;
}

.language .german {
    font-size: 21px;
    font-variant: small-caps;
    margin: 6px 0 0 0px;
}

/*************** FOOTER ***************/

footer {
}

.foot_wrap {
    width: 1010px;
    margin: 0 auto;
    padding: 100px 0 200px 0;
}

.foot_h h3 {
    font-size: 2.5rem;
    font-family: "Open Sans", sans-serif;
    color: #D4D4D4;
    font-weight: 200;
    text-align: center;
}

.foot_h hr {
    border-color: #666666;
    margin-top: 80px;
}

.foot_wrap .icons {
    margin-top: 80px;
}

.foot_wrap a {
    margin-left: 90px;
}

.foot_wrap a:first-child {
    display: inline-block;
    background: url("twitter.png") no-repeat;
    width: 65px;
    height: 64px;
    margin-left: 77px;
}

.foot_wrap a:nth-child(2) {
    display: inline-block;
    background: url("weibo.png") no-repeat;
    width: 65px;
    height: 64px;
}

.foot_wrap a:nth-child(3) {
    display: inline-block;
    background: url("bilibili.png") no-repeat;
    width: 62px;
    height: 62px;
}

.foot_wrap a:nth-child(4){
    display: inline-block;
    background: url("youtube.png") no-repeat;
    width: 67px;
    height: 47px;
    margin-bottom: 7px;
}

.foot_wrap a:nth-child(5) {
    display: inline-block;
    background: url("github.png") no-repeat;
    width: 63px;
    height: 61px;
}

.foot_wrap a:nth-child(6) {
    display: inline-block;
    background: url("mail.png") no-repeat;
    width: 61px;
    height: 61px;
}